/*首页*/
#warpper { height:100%;}
.icon1 { background-image:url(../wapimages/icon1.png); background-repeat:no-repeat; background-size:10rem 10rem;}
.scroll_prev,
.scroll_next { display:block; width:3.8rem; height:4rem; position:absolute; top:50%; margin-top:-2rem; z-index:2;visibility:visible;
	transform:translate(0px, 0px) translateZ(0px); -webkit-transform:translate(0px, 0px) translateZ(0px);
}
.scroll_prev span,
.scroll_next span { display:block; position:absolute;width:1.8rem; height:2rem;top:50%; margin:-1rem 0 0;}
.scroll_prev { left:-1rem; }
.scroll_next { right:-1rem;}
.scroll_prev span { left:1rem; background-position:0 -7.9rem;}
.scroll_next span { right:1rem; background-position:-2rem -7.9rem;}
.state_arrow { position:fixed; bottom:0; z-index:9; left:50%; display:block; margin-left:-1.4rem; width:2.8rem; height:2.8rem; background-position: 0 0;
	-webkit-animation:a_opacity 1.2s linear infinite;
}
.index_con { position:absolute; left:0; right:0; font-size:1.4rem; width:95%; margin-left:2.5%; text-align:center; color:#fff;}


.index_scroll { position:relative; z-index:1;}
.index_scroll,
.index_scroll ul,
.index_scroll li { height:100%; overflow:hidden;}
.index_scroll li { float:left; position:relative;}
