@charset "utf-8";
html{ font-size:62.5%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ padding:0; margin:0;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}
button,input,select,textarea{font-size:100%;outline:none;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none; color:#333;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
mark{background-color:yellow;}
input[type=submit],input[type=button]{ -webkit-appearance:none; box-sizing:content-box;border:0; border-radius:0;}
body{font-family:"黑体","Microsoft YaHei";font-size:12px; color:#333;}
.clearfix:after{clear:both;display: block; content: "..."; visibility: hidden; height: 0; font-size: 0;}
.clearfix{*zoom:1;}
.clear{ clear:both;}

