body{background:#f3f5f6;}
.oIcon{ background:url(../images/publicIcon.png) no-repeat 0 0; background-size:100px 100px;}
.oIcon2{ background:url(../images/publicIcon.png) no-repeat 0 0; background-size:150px 150px;}

.mainBody{min-width: 320px;max-width: 640px;width: 100%;margin: 0 auto;position: relative;height: auto;overflow-x: hidden;overflow-y: auto;padding-bottom: 15%; font-family:"微软雅黑";}
.invoiceItems{ margin-top:8px; padding:0 10px 12px 10px; background:#fff;}
.invoiceHead{ height:38px; line-height:38px; color:#252525; font-size:14px;}
.invoiceTab{ width:100%; overflow:hidden;}
.invoiceTab li{ float:left; width:28%; height:24px; line-height:24px; color:#999; font-size:14px; text-align:center; margin-left:7%; border:1px solid #e0e0e0; border-radius:3px; position:relative; z-index:1;}
.invoiceTab li.first{ margin-left:0;}
.invoiceTab li.on{ border:1px solid #fd8686; color:#fc5a5a;}
.invoiceTab li i{ display:none; width:12px; height:12px; background-position:0 0; position:absolute; right:-1px; top:-1px; border-radius:3px;}
.invoiceTab li.on i{ display:block;}
.invoiceItems input[type="text"],.invoiceWrap input[type="tel"]{ color:#252525; background:#fff; border:1px solid #dedede; border-radius:3px; padding:0 2%;}
.invoiceTitle{ position:relative;}
.invoiceTitle input{ width:95%; height:32px; line-height:32px;}
.invoiceTitle .titDel{ display:block; width:19px; height:19px; background-position:-45px 0; position:absolute; right:2%; top:8px;}
.invTitleBox{ display:none; width:99.2%; max-height:97px; position:absolute; left:0; top:34px; background:#f3f5f6; border-bottom:1px solid #e8e8e8; overflow:hidden;}
.invTitleBox ul{ max-height:98px; overflow-x:hidden; overflow-y:auto; margin-bottom:-1px;}
.invTitleBox li{ width:96%; height:32px; line-height:32px; color:#666; padding:0 2%; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; border-bottom:1px solid #e8e8e8;}
.invoiceInfo label{ margin-right:35px; vertical-align:middle; font-size:0;}
.invoiceInfo label i{ display:inline-block; width:14px; height:14px; background-color:#fff; border:1px solid #aaa; border-radius:50%; margin-right:6px; vertical-align:middle;}
.invoiceInfo label.selected i{ background-position:-14px -1px; border:1px solid #fc5a5a;}
.invoiceInfo label span{ color:#252525; font-size:14px; vertical-align:middle;}
.invoicePhone{ padding-top:10px;}
.invoicePhone .pho{ vertical-align:middle;}
.invoicePhone .pho em{ color:#252525; font-size:14px; font-family:"宋体"; vertical-align:middle;}
.invoicePhone .pho span{ padding:0 6px 0 2px; color:#252525; font-size:14px; vertical-align:middle;}
.invoicePhone .pho input{ width:67%; height:24px; line-height:24px; vertical-align:middle;}
.invoicePhone .pro{ line-height:16px; padding-top:10px; color:#fc5a5a;}
.invoiceBtn{ height:34px; margin:25px 10px 0; border-radius:3px; overflow:hidden;}
.invoiceSubmit{ width:100%; height:34px; line-height:30px; font-size:16px; color:#fff; background:#fc5a5a;}

