html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background: #ffffff;color:#333333;}
body,button,input,select,textarea,h2,h3,h4,h5,h6{font:14px 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial;-webkit-font-smoothing: antialiased;}
img,fieldset{border:0;vertical-align:middle}
input{padding:0;margin:0;outline:none;}
a{text-decoration:none;color:#a0021b;}
a:hover{text-decoration:none;color:#a0021b;}
ul,li,ol{list-style:none}
img{max-width:100%;}
button { border:1px solid #ec5248; background: #ec5248; text-align:center; cursor:pointer;
 border-radius:3px; border-radius:3px;
 -moz-border-radius:3px; -moz-border-radius:3px;
 -webkit-border-radius:3px; -webkit-border-radius:3px;letter-spacing:10px; line-height:35px;font-size:15px;color:#fff;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;zoom:1;}
.l{float:left;}.r{float:right;}

/*背景样式*/
.allbg{background:url(../wapimages/backgrnd.jpg) left repeat-y #ebebeb;-moz-background-size:100% 220px;
    -webkit-background-size:100% 220px;
    -o-background-size:100% 220px;
    background-size:100% 220px;}
.mainbg { position:fixed; top:0; left:0; width:100%; height:100%; z-index:-99;}
.mainbg img { width:100%; height:auto; }
/*top*/
.topbar{width: 100%; height:44px; position:fixed; top:0px; z-index:99999;}
.logo-top{width:110px; height:34px; float:left; position:relative; left:50%; top:50%; margin-left:-75px; margin-top:-17px;}
.logo-top-other{width:20%; height:34px; float:left; position:relative; left:10px; top:8px;}
.top-soso{width:340px; height:34px; border:0px; float:left; position:absolute; left:50%; margin-left:-170px; top:50%; margin-top:-17px; background:url(../wapimages/icon_soso.png) left 10px center no-repeat #525252; text-align:center; font-size:23px; color:#fff; line-height:35px;}
.iconso{padding-top:5px; float:left;position: relative;width:80%; border:0px ;background:none;color:#fff; text-align:left; padding-left:35px; font-weight:100; font-size:14px;line-height:20px;}
.top-mid-title{width:60%; height:44px; float:left; position:relative; margin:0 auto; font-size:16px; line-height:44px; text-align:center; color:#fff; font-weight:100}
.navbar-toggle {
border-color: #333;
}
.navbar-toggle {position: relative;top:0px;float: right;padding:6px 10px;margin-top: 4px;margin-right: 10px;margin-bottom: 8px;background-color: #222;border: 1px solid #555;
-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px; cursor:pointer;}
.navbar-toggle:hover {background-color: #333;}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
-moz-border-radius:1px;-webkit-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px;margin-top: 4px;
border-top:1px solid #FFF
}

.main{width: 100%;position:relative; top:50px; z-index:9999;}
.columnbar{width: 100%; height:80px; position:relative; z-index:9999; padding:10px 0}
.columnbar .t1{width: 100%; line-height:40px; float:left; position:relative; top:0; text-align:center; font-size:30px; color:#ccc;}
.columnbar .t2{width: 100%; line-height:40px; float:left; position:relative; top:0; text-align:center; font-size:24px; color:#ccc;}
.footbar{width: 100%; float:left; position:relative; z-index:9999; padding:15px 0; background:#25292c; margin-top:5%; }
.footbar .hs{width: 100%; line-height:25px; float:left; position:relative; text-align:center;font-size:14px; color:#ccc;}
.footbar .himg{width:274px;height:31px; float:left; position:relative; left:50%; margin-left:-137px; padding:10px 0;}
.footbar .himg li{min-width:43px;height:31px; float:left; position:relative; }

.news_detail {width:95%; position:fixed; bottom:5px; z-index:99999; height:50px; margin:1.5% 2.5%}
.detailbox .head { position:relative; height:4.4rem; line-height:4.4rem; text-align:center; font-size:1.8rem; color:#fff; background:#f60;}
.news_detail h1 { font-size:2.0rem; color:#f60;}
.news_detail .info {padding:1rem 0; font-size:1.3rem; color:#555; border-bottom:#ddd dashed 1px;}
.news_detail .author { margin-left:2.7rem;}
.news_detail .content { overflow:hidden;font-size:1.4rem;line-height:2.4rem; padding-bottom:1rem}
.news_detail .content p { background:none!important; padding-bottom:1.4rem;}
.news_detail .content img { margin-bottom:.8rem; }

.icon3 { background-image:url(../wapimages/icon3.png); background-repeat:no-repeat; background-size:1.8rem 5rem;}

.news_detail .ht-r {width:100%; float:left;position: relative;margin:0 auto;padding:0 0 10px; line-height:30px; color:#333333; font-size:20px; }
.news_detail .ht-r  .cont_t {float: left;width: 100%;position: relative;font-size: 16px;color: #d30014;padding: 10px 0;border-bottom: 1px dotted #cccccc;}
.news_detail .ht-r  .cont_t .c_bt {float: left;width:100px;position: relative;font-size: 20px;color: #d30014;bottom: -8px;}
.news_detail .ht-r  .cont_t .e_bt {float: left;min-width: 80px;position: relative;font-size: 12px;color: #999999;bottom: -13px;padding-right: 5px;  z-index:-99;}
.news_detail .ht-r  .contmore {float: left;width: 100%;position: relative;color: #d30014;padding: 10px 0;font-size: 13px;color: #222222;line-height: 30px;}

.news_detail .share { overflow:hidden; padding:.5rem 0 3rem; border-bottom:#ddd dashed 1px;}
.news_detail .share a{ position:relative; display:block; float:left; width:10rem; height:3.2rem; margin:0 1rem 0 0; line-height:3.2rem; line-height:3rem\9; font-size:1.2rem; text-align:center; color:#a3a3a3; background:#fff; border:#ddd solid 1px;
	box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
}
.news_detail .share a span { position:absolute; left:.7rem; top:.7rem; display:block; width:1.8rem; height:1.5rem;}
.news_detail .share a.b1 { padding-left:1.5rem;}
.news_detail .share a.b2 { padding-left:2.5rem;}
.news_detail .share a.b1 span { top:.8rem; background-position:0 0;}
.news_detail .share a.b2 span { background-position:0 -1.7rem;}

.news_detail .share a:last-child { margin-right:0;}
.news_detail .pager { padding:1.3rem 0; font-size:1.3rem;}
.news_detail .pager li { height:2rem; line-height:2rem; overflow:hidden; margin-top:.5rem;}
.news_detail .pager span { display:inline-block; width:1.6rem; height:1.6rem; margin-right:.8rem; line-height:1.6rem; text-align:center; vertical-align:0; color:#9d9d9d; background:#dbdbdb;}
.news_detail .pager a { color:#555;}
.news_detail .pager li:first-child { margin-top:0;}



.menubar{width: 100%; position:fixed; top:51px; z-index:99999; }
.menulist{width:100%; float:left;line-height:35px; font-size:13px;text-align:left;}
.menulist li{width:100%;float:left;color:#bcbcbc; padding-left:20px; display:block}
.menulist li.actives,.menulist li:hover{width:100%; float:left;background:#000; display:block;color:#a0021b;}
.menulist li a{display:block;line-height:35px;color:#bcbcbc;  font-size:13px; text-decoration:none}
.menulist li a:hover,.menulist li a.actives{display:block;color:#a0021b;}

.menulist .smclass{width:70px;float:left;color:#bcbcbc;display:block; background:url(../wapimages/icon-up-gray.png) right center no-repeat}
.menulist .smclass.actives{ background:url(../wapimages/icon-up-red.png) right center no-repeat;color:#a0021b;}
.menulist .smlist{width:100%;float:left;color:#bcbcbc; padding-left:20px; display:block}
.menulist .smlist .mm{width:100%;float:left;color:#bcbcbc; display:block}


.mainbox-other { float:left; width:100%;margin:0 auto;position: relative; z-index: 99; top:52px;}
.boxo{float:left; width:41%;display: inline-block;position:  relative;font-size: 12px; margin-top:5%; margin-left:6%;}
.boxo  a { width:100%;  display:block; color:#FFF; text-align:center; overflow:hidden;}
.boxo  a img { width:100%; height:auto }

.boxk{float:left; width:30%;display: inline-block;position:  relative;font-size: 12px; margin-top:3%; margin-left:3%; min-height:120px;}
.boxk  a { width:auto; min-height:120px; display:block; color:#FFF; text-align:center; overflow:hidden;}
.boxk  a img { width:auto; min-height:120px;}

.boxm{float:left; width:63%;display: inline-block;position:relative;font-size: 12px; margin-top:3%; margin-left:3%; text-align:left}
.boxm  .titles{ width:100%;  display:block; color:#333333; float:left; text-align:left; overflow:hidden; font-size:20px;  }
.boxm  .memos { width:100%;  display:block; color:#666666;  float:left;text-align:left; overflow:hidden; font-size:14px; padding:8px 0 10px 0; line-height:22px; height:40px; overflow:hidden}
.boxm  .btns { width:100px;  display:block; height:35px; color:#fff; float:left;text-align:center; overflow:hidden; font-size:14px; line-height:35px; background:#a0021b}


.boxd{float:left; width:100%;display: inline-block;position:relative;font-size: 12px;}
.boxd  img { width:100%;height:auto;}
.boxd  p {margin:0; border: 0px; overflow: hidden; border-radius:0}

.mainbox { float:left; width:100%;margin:0 auto; position:fixed; z-index: 1; bottom:0px; background:#000; opacity:0.6 }
.box{float:left; width:20%;display: inline-block;position:  relative;font-size: 12px; margin-left:4%;}
.box  p { text-align:center; display:block;}
.box  a { display:block; color:#FFF; text-align:center; overflow:hidden;}
.box  a img { width:60%; }
.box  a span { clear:both; display:block; line-height:40px; padding:0 0 16px 0; font-size:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center }


.box  p {margin:0; border: 0px; overflow: hidden; border-radius:0}
.box  a img {margin:20px 0 0 0; }
.box:before,.boxo:before,.boxk:before,.boxm:before,.boxd:before{
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}



.otherbox{ float:left;position: relative; z-index:999;margin-left:2.5%; width:95%; margin-top:2.5%; padding-bottom:2.5%;background:#f5f5f5; }
.boxmain{ float:left;position: relative; background:url(../wapimages/otherbg.png); width:97%; padding:1.5%; line-height:30px; font-size:16px;
 border-radius:5px; color:#222;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}
 .boxmain2{ float:left;position: relative; width:100%;line-height:30px; font-size:16px;
 border-radius:5px; color:#222;
 -moz-border-radius:5px;
 -webkit-border-radius:5px; padding-bottom:50px;}

/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio3_1:before{
	padding-top: 60%;
}
.ratio1_2:before{
	padding-top: 150%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio6_5:before{
	padding-top: 83.33%;
}
.box-content{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* Styling */
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	color: #fff;
}
/*页面底部固定滑动块 开始*/

.navigation_swipe_wrap{overflow:hidden; position:relative;}

.navigation_swipe_wrap ul{ -webkit-padding-start: 0px;}

.navigation_swipe_wrap>ol>li {background:#fff;-webkit-box-shadow: inset 0 0 3px #aaa;}

.navigation_swipe_wrap>ol>li.on{background:rgb(146,214,235);}

.navigation_swipe_wrap>ol{position:absolute;margin:auto;top:50%;background:none;width:100%;text-align:center;}



#navigation_swipe{position:fixed;left:0;right:0;bottom:0;width:100%;background:rgba(10,10,10,0.5);

z-index:2000; max-width:640px; margin:auto; margin-top:-100%;padding:5px 0;}

#navigation_swipe li{padding:0 33px;-webkit-box-sizing:border-box;box-sizing:border-box;}

#navigation_swipe li>a{width:30%;float:left;text-align:center;color:#fff;overflow:hidden; margin-right:2%; margin-left:1%;}

#navigation_swipe li>a img{	width:45px;  max-height:80%;margin:5px 0;}

#navigation_swipe li .ChannelName{ color:#FFFFFF; font-weight:normal; font-size:16px; height:25px; line-height:25px;}

#navigation_swipe li .ChannelIcon{ width:100%;}

#navigation_swipe li .ChannelIcon img{ width:100%;   display:block;}

#navigation_swipe ol{position:absolute;top:0;z-index:2100;height:0px;background:red;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}

#navigation_swipe ol>a{color:#ccc;display:inline-block;width:25px;height:25px;

	float:left;background:transparent;-webkit-transform:rotate(45deg);transform:rotate(45deg);

	border:0px solid #fff;margin:13px;margin-top:15%;border-width:0 0 1px 1px;

}

#navigation_swipe ol>a:nth-of-type(2){float:right;border-width:1px 1px 0 0;}

/*页面底部固定滑动块 结束*/


/*注册页面*/
.registpage{float:left;position: relative; z-index:999; width:100%; padding-bottom:2.5%}
.infobox{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; background-color:#f3f3f3; opacity:0.8;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;}
.infobox p{ padding:10px; font-size:16px; color:#333333;line-height:30px;}
.infoaddbox{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; background-color:#f3f3f3; opacity:0.8;
 border-top-left-radius:5px; border-top-right-radius:5px;
 -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px;
 -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; border-bottom:1px solid #d5d5d5;}
.infoaddbox2{ float:left;position: relative; z-index:999;margin-left:2.5%; width:95%; background-color:#f3f3f3; opacity:0.8;
 border-bottom-left-radius:5px; border-bottom-right-radius:5px;
 -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px;
 -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
.add-icon1{ float:left;position: relative; z-index:999;width:55px; height:45px; background:url(../wapimages/add_01.png) left 15px center no-repeat #ff7200;
 border-top-left-radius:5px;
 -moz-border-top-left-radius:5px;
 -webkit-border-top-left-radius:5px;}
.add-icon2{ float:left;position: relative; z-index:999;width:55px; height:45px; background:url(../wapimages/tel_01.png) left 15px center no-repeat #ff7200;
 border-bottom-left-radius:5px;
 -moz-border-bottom-left-radius:5px;
 -webkit-border-bottom-left-radius:5px;}
.add-text{ float:left;position:relative;min-width:100px; font-size:16px; z-index:999;line-height:45px; padding-left:8px; color:#323232;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
 border-top-left-radius:5px;
 -moz-border-top-left-radius:5px;
 -webkit-border-top-left-radius:5px;}
 
.join-top{ float:left;position: relative; z-index:999;margin-left:2.5%; margin-top:2.5%; width:95%; height:45px; background:url(../wapimages/register_01.png) left 10px center no-repeat #ff7200; opacity:0.8;
 border-top-left-radius:5px; border-top-right-radius:5px;
 -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px;
 -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
 .jointitle{ padding:5px 0 10px 70px ; float:left;position: relative; z-index:999; line-height:25px;width:60%; color:#fff; font-weight:100; font-size:15px}
 .join-mid{ float:left;position: relative; z-index:999;margin-left:2.5%; width:95%; padding-bottom:2.5%; background: #f3f3f3; opacity:0.8;
 border-bottom-left-radius:5px; border-bottom-right-radius:5px;
 -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px;
 -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
 .join-input2{ float:left;position: relative; z-index:999;margin-left:2.5%;margin-top:2.5%; width:94%; height:45px; background:url(../wapimages/register_02.png) left 8px center no-repeat #f3f3f3; opacity:0.8; border:1px solid #d5d5d5;
 border-left-radius:5px; border-radius:5px;
 -moz-border-left-radius:5px; -moz-border-right-radius:5px;
 -webkit-border-left-radius:5px; -webkit-border-right-radius:5px;}
 .join-input{ float:left;position: relative; z-index:999;margin-left:2.5%;margin-top:2.5%; width:94%; height:45px; background:url(../wapimages/register_02.png) left 8px center no-repeat #f3f3f3; border:1px solid #d5d5d5;
 border-left-radius:5px; border-radius:5px;
 -moz-border-left-radius:5px; -moz-border-right-radius:5px;
 -webkit-border-left-radius:5px; -webkit-border-right-radius:5px;}
 .inputbg1{ background:url(../wapimages/register_03.png) left 8px center no-repeat #f3f3f3;}
 .inputbg2{ background:url(../wapimages/register_04.png) left 8px center no-repeat #f3f3f3;}
 .inputbg3{ background:url(../wapimages/register_05.png) left 8px center no-repeat #f3f3f3;}
 .inputbox{ padding:10px 0 10px 40px ; float:left;position: relative; z-index:999; line-height:25px;width:90%; border:0px ; background:none; color:#b9b9b9; }
 .join-btn{ float:left;position: relative; z-index:999;margin-left:2.5%;margin-top:2.5%; width:94%;  background: #ff2000;opacity:0.8; text-align:center; cursor:pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;letter-spacing:20px; line-height:45px;font-size:16px;color:#fff;
 font-size: 16px;
text-decoration: none;
border: 1px solid #ff2000;
background-image: linear-gradient(bottom, #ff2000 0%, #d76000 100%);
background-image: -o-linear-gradient(bottom, #ff2000 0%, #d76000 100%);
background-image: -moz-linear-gradient(bottom, #ff2000 0%, #d76000 100%);
background-image: -webkit-linear-gradient(bottom, #ff2000 0%, #d76000 100%);
background-image: -ms-linear-gradient(bottom, #ff2000 0%, #d76000%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ff2000), color-stop(1, #d76000) );
text-shadow: 0 1px rgba(0, 0, 0, 0.2);
 
 }
 
.join-btn a{font-size:16px; color:#fff;line-height:45px; text-align:center; text-decoration:none;letter-spacing:20px} 

.price_hang{ float:left;color:#333; font-weight:100; font-size:15px;line-height:35px; padding:20px 0; margin-left:3%; width:97%;}
.price_t1{ float:left;width:20%; color:#333; font-weight:100; font-size:15px;line-height:35px;text-align:center;}
.price_input{ font-size:15px;width:100%; height:35px; padding-left:0px}


.price_hang2{ float:left;color:#333; font-weight:100; font-size:15px;line-height:35px; padding:0 20px; text-align:center; padding-bottom:10px}
 .join-btn2{ float:left;position: relative; z-index:999;margin-left:4%; width:80%;  background: #ec5248; text-align:center; cursor:pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px; line-height:33px;font-size:15px;color:#fff;
 font-size: 16px;
text-decoration: none;
border: 1px solid #ec5248;
background-image: linear-gradient(bottom, #ec5248 0%, #c81900 100%);
background-image: -o-linear-gradient(bottom, #ec5248 0%, #c81900 100%);
background-image: -moz-linear-gradient(bottom, #ec5248 0%, #c81900 100%);
background-image: -webkit-linear-gradient(bottom, #ec5248 0%, #c81900 100%);
background-image: -ms-linear-gradient(bottom, #ec5248 0%, #c81900 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ec5248), color-stop(1, #c81900) );
-webkit-box-shadow: 0 1px 0 #f41e00 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 1px 0 #f41e00 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
box-shadow: 0 1px 0 #f41e00 inset, 0 1px 2px rgba(0, 0, 0, 0.5);

text-shadow: 0 1px rgba(0, 0, 0, 0.2);}

.price_ts_1{ float:left;width:20%; color:#333; font-weight:100; font-size:15px;line-height:35px;text-align:right;}
.price_ts_2{ float:left;width:80%; color:#333; font-weight:100; font-size:15px;line-height:35px;text-align:center;}

/*我的产品*/
.manage_top{width:97%; float:left; position:relative; padding:10px 1.5%;border-bottom:1px solid #e7e7e7; height:40px; }
.manage_top .checkall{width:160px; height:26px; float:left; position:absolute; top:50%; margin-top:-13px;font-size:18px; padding-left:10px; color:666666;cursor:pointer}
.manage_top .pclasslist{width:70px; padding-right:15px; height:26px; float:right; position:absolute; top:50%; margin-top:-13px; right:10px; font-size:16px; color:666666;background:url(../wapimages/icon_prolist.png) center right no-repeat; line-height:26px;}

.manage_list{width:100%; float:left; position:relative; padding-bottom:10px;}
.manage_list li{width:97%; float:left; position:relative; padding:20px 1.5%;border-bottom:1px solid #e7e7e7;}
.manage_list li .propic{width:25%;height:auto;float:left; position:relative; margin-left:5px;}
.manage_list li .propic img{width:100%;height:auto; border:1px solid #dadada; }
.manage_list li .proInfo{width:40%;float:left; position:relative; margin-left:15px;}
.manage_list li .proInfo2{width:65%;float:left; position:relative; margin-left:15px;}
.manage_list li .proInfo .titles,.manage_list li .proInfo2 .titles{float:left; width:100%;position:relative;font-size: 16px; height:30px; font-weight:600; line-height:30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis; color:#333333 ; text-align:left}
.manage_list li .proInfo .memo{float:left; width:100%;position:relative;font-size: 12px; line-height:25px; height:50px; color:#999;overflow:hidden;}
.manage_list li .proInfo2 .addr{float:left; width:100%;position:relative;font-size: 14px; line-height:25px; margin-top:10px; height:25px; color:#666;overflow:hidden;background:url(../wapimages/addr_s.png) left center no-repeat ; padding-left:20px; }
.manage_list li .proInfo2 .tel{float:left; width:100%;position:relative;font-size: 16px; background:url(../wapimages/tel_s.png) left center no-repeat ; line-height:30px; height:30px; color:#ec5248;overflow:hidden; padding-left:20px;}
.manage_list li .proman{width:70px; height:36px; float:left; position:absolute; top:50%; margin-top:-18px; right:10px;}



/*common style*/
.module { position:relative; overflow:hidden; color:#fff; font-size:2rem; height:220px; width:100%; z-index:999}
.bgred{ background:#a0021b;}
.bgblack{ background:#222222;}
.bgdeepred{ background:#b70d14;}
.padding3{ padding:3px 0;}

.bordertop{ border-top:1px solid #373737}
.borderbottom{ border-bottom:1px solid #000}

.fl{ float:left}
.fr{ float:right}
.shadows {-moz-box-shadow: 0px 3px 4px #999999; -webkit-box-shadow: 0px 3px 4px #999999;-ms-box-shadow: 0px 3px 4px #999999;-o-box-shadow: 0px 3px 4px #999999;box-shadow: 0px 3px 4px #999999;}
.rounds{-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px; }

.login-btn-ss4{ float:left;position: relative; z-index:999;width:100%;  background: #ec5248; text-align:center; cursor:pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;line-height:30px;font-size:16px;color:#fff;
 font-size: 14px;
text-decoration: none;
border: 1px solid #ec5248;}


@media only screen and (max-width: 639px) {
.box a img { width:60%; margin:10px 0 0 0;}

.module { position:relative; overflow:hidden; color:#fff; font-size:2rem; height:120px;}
}
@media only screen and (max-width: 439px) {

.module { position:relative; overflow:hidden; color:#fff; font-size:2rem; height:100px;}
.top-soso{width:220px;margin-left:-90px;}
.box a span {font-size:13px;line-height:30px; padding:0 0 10px 0; }
.box a img {margin:10px 0 0 0;width:60%; }
.columnbar .t1{font-size:24px;}
.columnbar .t2{font-size:18px;}
.footbar .hs{font-size:12px;}
.boxk{width:40%;}
.boxm{width:53%;}
.boxmain,.boxmain2{  font-size:14px; line-height:25px;}


.manage_list li{padding:10px 1.5%;}
.manage_list li .propic{width:25%;height:auto;float:left; position:relative;}
.manage_list li .proInfo{width:50%;float:left; position:relative; margin-left:8px;}
.manage_list li .proInfo .titles{font-size: 14px; height:25px;line-height:25px;}


}
@media only screen and (max-width: 339px) {
.module { position:relative; overflow:hidden; color:#fff; font-size:2rem; height:80px;}
.top-soso{width:180px;margin-left:-80px;}

.box  a span {font-size:12px;line-height:30px; padding:0 0 5px 0;}
.box  a img {margin:10px 0 0 0; }
.columnbar{height:60px;}
.columnbar .t1{font-size:20px;line-height:30px; }
.columnbar .t2{font-size:16px;line-height:30px; }
.footbar .hs{font-size:12px;}
.boxk{width:40%;}
.boxm{width:53%;}


.manage_list li .propic{width:25%;height:auto;float:left; position:relative;}
.manage_list li .proInfo{width:50%;float:left; position:relative; margin-left:8px;}
.manage_list li .proInfo .titles{font-size: 14px; height:20px;line-height:20px;}


}