*{margin:0px; padding:0px;font-size:14px;}
body{ background:#F1F2F7;}
/*wrap*/
#top{width:100%;max-width:100%;height:30px; min-height:30px; max-height:40px;background:#F2F2F2;}
.top_1{margin:0px auto;width:80%;height:30px;overflow:hidden;padding:0px;}
.nav_li{color:#999999;}
ul li{list-style:none; float:right;line-height:26px;}
ul li a{color:#999999;padding:0px 5px;text-decoration:none;}
/*列表结束*/
.top_one{box-shadow: 5px 5px 5px #888888;width:100%;max-width:100%;height:90px; min-height:90px; max-height:90px;background:#FFFFFF;}
.top_2,.top_3{margin:0px auto;width:70%;height:90px;overflow:hidden;padding:0px;}
/*阴影层结束*/
.top_two{width:80%;max-width:80%;height:1160px;background:#FFFFFF; margin:0px auto;}
/*订单信息*/
.P1{border:2px solid #E1E1E1;border-left:10px solid #FD8301;height:50px;font-size:16px;line-height:50px;padding-left:2%;}
.T1,T1_1{text-align:center;font-size:16px;}

/* 添加数量 */
.p_number{ margin:0px auto;}	
.p_number .f_l{ padding-left:39%;}
@media screen and (max-width:1290px){
	.p_number .f_l{ padding-left:32%;}
	}
@media screen and (max-width:1610px){
	.p_number .f_l{ padding-left:37%;}
	}
@media screen and (max-width:1370px){
	.p_number .f_l{ padding-left:34%;}
	}
@media screen and (max-width:1030px){
	.p_number .f_l{ padding-left:28%;}
	}
.p_number .add_chose{width:105px;}
.p_number .add_chose a{float:left;margin:5px 0 0 0;display:block;width:15px;height:15px;line-height:99em;overflow:hidden;background:url(../images/reduce-add.gif) no-repeat;}
.p_number .add_chose a.reduce{background-position:0 0;}
.p_number .add_chose a.reduce:hover{background-position:0 -16px;}
.p_number .add_chose a.add{background-position:-16px 0;}
.p_number .add_chose a.add:hover{background-position: -16px -16px;}
.p_number .add_chose .text{float:left;margin:0 5px;display:inline;border:solid 1px #ccc;padding:4px 3px 4px 8px;width:40px;line-height:18px;font-size:14px;color:#990000;font-weight:800;}
/*金额样式*/
input[name="Bor_n"]{border:none; width:30%;margin-left:2%;}
input[name="Btn"],input[name="Btn_s"]{background:#FFF;border:none;color:#fd8301;cursor:pointer;}
input[name="Btn_s"]{color:#000;font-size:16px;}
.sp_1{ font-size:11px;vertical-align:38px; padding-left:1px;}
.sp_1 a{text-decoration:none;color:#000;}
.sp_1 a:hover{text-decoration:underline; color:#063;}
.sp_r{float:right;padding-right:13%;}
.A_a1{color:#fd8301;text-decoration:none;padding:0px 15px;}
.A_a1:hover{text-decoration:underline;padding:0px 15px;}
input[name="Bor_a"]{border:none;}
.P2{padding:20px 2%;}
input[name="cose"]{cursor:pointer;background:#fd8301;color:#FFF;border:none;width:147px;height:49px;font-size:24px;float:right;margin-right:13%;transition:background-color .4s ease-in;
	-webkit-transition:background-color .4s ease-in;
	-moz-transition:background-color .4s ease-in;}
/*logo特效*/
#IMG_1{transition: all .4s ease-in; cursor:pointer;
	-webkit-transition: all .4s ease-in;
	-moz-transition: all .4s ease-in;}
#IMG_1:hover{-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);}
.IMG_2{transition: all .3s ease-in;cursor:pointer;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;}

.IMG_2:hover{-moz-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);}
input[name="cose"]:hover{background-color:#000;}

.ul_m{margin:0px auto;}