@charset "utf-8";
/* CSS Document */
.test{-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
-ms-transform:rotate(-10deg);
transform:rotate(-10deg);}
.test:hover{-moz-transform:rotate(10deg);
-webkit-transform:rotate(10deg);
-ms-transform:rotate(10deg);
transform:rotate(10deg);}
.test_1{-moz-transform:rotate(10deg);
-webkit-transform:rotate(10deg);
-ms-transform:rotate(10deg);
transform:rotate(10deg);}
.test_1:hover{-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
-ms-transform:rotate(-10deg);
transform:rotate(-10deg);}