@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.contenr{ background-color:#F93;
width:400px;
height:500px;
margin-top:200px;}
.font_1{ text-align:center;
padding:30px 0;}
.font_2{text-align:center;}
label,input{display:block;
float:left;
height:30px;
border-radius:5px;
margin:20px 0px
}
label{width:100px;
text-align:right}
input{width:200px;
text-align:left}
p{clear:left;
}