@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*默认样式表+兼容性处理*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	
}



.III{width:450px; height:450px;}
@media(max-width:1030px){
	.III{width:360px; height:360px;}
	}


 /*LOGO层*/
.logo {
	height:200px;
	background:  #000;
}
.logo_content {
	width:950px;
	height:150px;
	margin:0px auto
}
.logo_left {
	width:150px;
	height:130px;
	float:left;
	border-right:#FFF 3px solid;
	margin-top:10px;
}
.text {
	width:500px;
	height:50px;
	border-radius:3px;
	border: solid #666 2px;
	float: left;
	margin-top:50px;
	margin-left:280px
}
.pic {
	width:70px;
	height:46px;
	float:left;
	margin-top:52px;
	margin-left:-73px
}
div[class="logo"] img{transition:all .4s ease-in;
	-webkit-transition:all .4s ease-in;
	-moz-transition:all .4s ease-in;}
div[class="logo"] img:hover {
	-moz-transform:scale(1.1, 1.1);
	-webkit-transform:scale(1.1, 1.1);
	-o-transform:scale(1.1, 1.1);
}

/*层#151515*/
.webdesigntuts-workshop {
	background:   #000;
	position: absolute;
	text-align: center;
	width:700px;
	height:100px
}
/*横线*/
.webdesigntuts-workshop:before, .webdesigntuts-workshop:after {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	width: 700px;
}
.webdesigntuts-workshop:before {
	background: #444;
	background: -webkit-linear-gradient(left, #151515, #444, #151515);
	background: -moz-linear-gradient(left, #151515, #444, #151515);
	background: -o-linear-gradient(left, #151515, #444, #151515);
	background: -ms-linear-gradient(left, #151515, #444, #151515);
	background: linear-gradient(left, #151515, #444, #151515);
	top: 50px;
}
.webdesigntuts-workshop:after {
	background: #000;
	background: -webkit-linear-gradient(left, #151515, #000, #151515);
	background: -moz-linear-gradient(left, #151515, #000, #151515);
	background: -o-linear-gradient(left, #151515, #000, #151515);
	background: -ms-linear-gradient(left, #151515, #000, #151515);
	background: linear-gradient(left, #151515, #000, #151515);
	top: 50px;
}
/*背景框*/
.webdesigntuts-workshop form {
	background: #111;
	background: -webkit-linear-gradient(#1b1b1b, #111);
	background: -moz-linear-gradient(#1b1b1b, #111);
	background: -o-linear-gradient(#1b1b1b, #111);
	background: -ms-linear-gradient(#1b1b1b, #111);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin-top:8px;
	padding: 20px;
	position: relative;
	z-index: 1;
}
/*搜索框*/
.webdesigntuts-workshop input {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width:200px;
}
.ie .webdesigntuts-workshop input {
	line-height: 40px;
}
 .webdesigntuts-workshop input::-webkit-input-placeholder {
 color: #888;
}
 .webdesigntuts-workshop input:-moz-placeholder {
 color: #888;
}
/*发光控制*/
.webdesigntuts-workshop input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}
 .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
 color: #efe;
}
 .webdesigntuts-workshop input:focus:-moz-placeholder {
 color: #efe;
}
/*按钮设置*/
.webdesigntuts-workshop button {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}
/*按钮发光设置*/
.webdesigntuts-workshop button:hover, .webdesigntuts-workshop button:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}
.webdesigntuts-workshop button:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}
 @-webkit-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-moz-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-o-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-ms-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
/*层#151515*/
.webdesigntuts-workshop {
	background:   #000;
	position: absolute;
	text-align: center;
	width:700px;
	height:100px
}
/*横线*/
.webdesigntuts-workshop:before, .webdesigntuts-workshop:after {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	width: 700px;
}
.webdesigntuts-workshop:before {
	background: #444;
	background: -webkit-linear-gradient(left, #151515, #444, #151515);
	background: -moz-linear-gradient(left, #151515, #444, #151515);
	background: -o-linear-gradient(left, #151515, #444, #151515);
	background: -ms-linear-gradient(left, #151515, #444, #151515);
	background: linear-gradient(left, #151515, #444, #151515);
	top: 50px;
}
.webdesigntuts-workshop:after {
	background: #000;
	background: -webkit-linear-gradient(left, #151515, #000, #151515);
	background: -moz-linear-gradient(left, #151515, #000, #151515);
	background: -o-linear-gradient(left, #151515, #000, #151515);
	background: -ms-linear-gradient(left, #151515, #000, #151515);
	background: linear-gradient(left, #151515, #000, #151515);
	top: 50px;
}
/*背景框*/
.webdesigntuts-workshop form {
	background: #111;
	background: -webkit-linear-gradient(#1b1b1b, #111);
	background: -moz-linear-gradient(#1b1b1b, #111);
	background: -o-linear-gradient(#1b1b1b, #111);
	background: -ms-linear-gradient(#1b1b1b, #111);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin-top:8px;
	padding: 20px;
	position: relative;
	z-index: 1;
}
/*搜索框*/
.sear{ display:block; 
background:#FFF;}
.webdesigntuts-workshop input {
	
	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width:500px;
}
.ie .webdesigntuts-workshop input {
	line-height: 40px;
}
 .webdesigntuts-workshop input::-webkit-input-placeholder {
 color: #888;
}
 .webdesigntuts-workshop input:-moz-placeholder {
 color: #888;
}
/*发光控制*/
.webdesigntuts-workshop input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}
 .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
 color: #efe;
}
 .webdesigntuts-workshop input:focus:-moz-placeholder {
 color: #efe;
}
/*按钮设置*/
.webdesigntuts-workshop button {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}
/*按钮发光设置*/
.webdesigntuts-workshop button:hover, .webdesigntuts-workshop button:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}
.webdesigntuts-workshop button:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}
 @-webkit-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-moz-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-o-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @-ms-keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
 @keyframes glow {
 0% {
 border-color: #393;
 box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
}
 100% {
 border-color: #6f6;
 box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
}
}
font{ font-family:"楷体";}
/*LOGO结束*/
#bread{ background:#000;}
#bread li a{ padding:0px 40px; color:#FFF;}
#bread li a:hover{ text-decoration:none;}



.zs{ margin-top:20px;}



.img_1{width:1000px;}

.beijing{ background-position:top center; height:auto;
 background-image:url(../images/third.png); background-repeat:no-repeat; }	
.zhanshi_1{ margin-top:100px;}
.img_2{ position:absolute;
top:160px;left:8%;}
@media screen and (max-width:1050px){
	.img_1{width:800px;}
	.img_2{ position:absolute;
top:140px;left:8%;}
	}




.bottom{
	  width:159px;
       height:150px;
       float:left;
	   margin:0px 41px;
	   }
.title{
	color:#FFF;
	font-size:18px;
	text-align:center;}
.bottom ul li {
	color:#FFF;
	font-size:14px;
	text-align:center;
	list-style:none;
	float:left;
	margin-bottom:8px;
	margin-left:38px}
	.con{width:960px;height:80px;margin:auto;color:#FFF;	text-align:center;  margin-top:40px}
.con a{color:#fff;margin-right:10px;}
ul li:hover{ color:#FFE000;}	
a:hover{ color:#FFE000;}
.sunning{ transition:background-color .4s ease-in;
	-webkit-transition:background-color .4s ease-in;
	-moz-transition:background-color .4s ease-in;
						  margin:0px auto;
	                       width:350px;	
						   display:block;}	
.sunning:hover{background-color:#F0AD4E; cursor:pointer;
                       width:350px;	
					   margin:0px auto;
					   display:block;
					   text-align:center;}
					   
					   

					   <!--Frame中间-->
.Img_q{width:381px; height:212px;}
.Img_p{width:215px; height:120px;}
.mg_top{ margin-top:5.5%;}
.TD_1{width:215px; height:120px;}
.mg_top_1{margin-top:55px;}

.p_color{ background:#eeeeee; width:33%; border-radius:5px;}	   
.p_we{ font-weight:bold;}
#tab_t tr td{ padding:15px;}
table{border:none;}
img{ cursor:pointer;}
#page{ float:right; padding-right:1%;}