@charset "utf-8";
/* CSS Document */
.test{transform-style:preserve-3d; 
transition:all 1s ease-in;}
.test:hover{ transform:rotateY(360deg);
            -webkit-transform:rotateY(360deg);
			  -moz-transform:rotateY(360deg);
			    -o-transform:rotateY(360deg);
				  -ms-transform:rotateY(360deg);}

